<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand montserrat" href="/home" style="margin-left: 1.5rem">
            <span style="text-decoration: underline; text-decoration-color: blue">Szó•</span><span style="text-decoration: underline; text-decoration-color: green">tő </span><span style="text-decoration: underline; text-decoration-color: red">Sző•</span><span style="text-decoration: underline; text-decoration-color: purple">ni</span></a>
        </a>
        <!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--      <span class="navbar-toggler-icon"></span>-->
        <!--    </button>-->
        <div class="collapse navbar-collapse flex-grow-0" id="navbarText">
<!--            todo add active class with javascript -->
            <div sec:authorize="isAuthenticated()">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
<!--                        <span class="nav-link" th:text="${user.email}"></span>-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" th:href="@{signup}">Sign-up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{flashcard}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>