<ul th:fragment="sidebar" class="nav flex-column" style="width:25rem">
    <li class="nav-item">
        <form class="input-group" th:action="@{/search}" method="get" style="padding: .8rem; min-width: 240px;">
            <!-- Search Input -->
            <input type="search" class="form-control" name="query" placeholder="Search collections" aria-label="Search">

            <!-- Search Icon as Button -->
            <button class="input-group-text" type="submit">
                <i class="fas fa-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">-->
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg></i></span>
            </button>
        </form>
    </li>

    <li class="nav-item" style="margin-top: 1.5rem">
        <div class="nav-link active text-black" aria-current="page">Practice</div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary" th:href="@{flashcard}">Flashcards</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary" th:href="@{collections}">Collections</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary" th:href="@{flagged}">Flagged</a>
    </li>
    <li class="nav-item" style="margin-top: 1.5rem">
        <div class="nav-link active text-black" aria-current="page">Supported Languages</div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary">Turkish</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary">Hungarian</a>
    </li>
</ul>