<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <title>Application Title</title>
    </head>
    <body>

        <header th:replace="fragments/top-navbar :: top-navbar"></header>
        <aside th:replace="fragments/side-navbar :: side-navbar"></aside>

        <div th:replace="${content}"></div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
